version: '3'

services:
  influxdb:
    container_name: influxdb
    image: influxdb:2.1-alpine
    ports:
      - '8086:8086'
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - /etc/influxdb2:/etc/influxdb2